In [1]:
from pybacktestchain import data_module
from pybacktestchain.data_module import * 
from datetime import date, timedelta, datetime

from my_package_project import data_treatment
from my_package_project.data_treatment import *

In [2]:
tickers = ['SPY', 'TLT', 'GLD']  # S&P 500 Index, 20+ Year Treasury Bond, Gold (commodities)
data = get_stocks_data(tickers=tickers, start_date='2000-01-01', end_date='2020-12-31').dropna()
# data['Date'] = data['Date'].astype(str).str[:10] #we had an error with non-UTC dates
# data['Date'] = pd.to_datetime(data['Date'])
data

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2000-01-03 00:00:00-05:00,148.250000,148.250000,143.875000,145.437500,92.692894,8164300,SPY
1,2000-01-04 00:00:00-05:00,143.531250,144.062500,139.640625,139.750000,89.068047,8089800,SPY
2,2000-01-05 00:00:00-05:00,139.937500,141.531250,137.250000,140.000000,89.227394,12177900,SPY
3,2000-01-06 00:00:00-05:00,139.625000,141.500000,137.750000,137.750000,87.793404,6227200,SPY
4,2000-01-07 00:00:00-05:00,140.312500,145.750000,140.062500,145.750000,92.892090,8066500,SPY
...,...,...,...,...,...,...,...,...
4052,2020-12-23 00:00:00-05:00,175.100006,176.210007,175.059998,175.649994,175.649994,6542800,GLD
4053,2020-12-24 00:00:00-05:00,175.550003,176.369995,175.509995,176.350006,176.350006,3695400,GLD
4054,2020-12-28 00:00:00-05:00,177.259995,177.910004,175.630005,175.710007,175.710007,7778700,GLD
4055,2020-12-29 00:00:00-05:00,176.250000,176.970001,175.570007,176.350006,176.350006,5983700,GLD
4056,2020-12-30 00:00:00-05:00,176.440002,177.720001,176.440002,177.699997,177.699997,5914000,GLD

In [3]:
data_module = DataModule(data=data)
info = Information(s = timedelta(data_module.data.size/len(tickers)), data_module=data_module)
t = datetime(2020,12,29)
moments = FirstTwoMoments.compute_information(info, t=t)

In [4]:
riskparityportfolio =  RiskParity.compute_portfolio_riskparity(info, t=t, information_set=moments)
riskparityportfolio

{'GLD': 0.32828250925007957,
 'SPY': 0.16386582198889166,
 'TLT': 0.5078516687610288}

In [7]:
RiskParity.compute_portfolio_riskparity_voltarget_leverage(info, t=t, information_set=moments, target_volatility=vol, leverage_factor=1)

INFO:root:Original Volatility: 28.86544110045446

{'GLD': 0.32828250925007957,
 'SPY': 0.16386582198889166,
 'TLT': 0.5078516687610288}

In [6]:
vol = portfolio_volatility(riskparityportfolio,information_set=moments)
vol

28.86544110045446

In [3]:
from pybacktestchain.data_module import FirstTwoMoments